.commentButton:hover {
    background-color: #ffffff; 
}
.commentButton:hover svg path {
    fill: #191c27; 
}
.shareButton:hover {
    background-color: #ffffff; 
}
.shareButton:hover svg path {
    fill: #191c27; 
}
.likebutton:hover {
    background-color: #ffffff; 
}
.likebutton:hover svg path {
    fill: #191c27; 
}

#commentButton:hover {
    background-color: #ffffff; 
}
#commentButton:hover svg path {
    fill: #191c27; 
}
#shareButton:hover {
    background-color: #ffffff; 
}
#shareButton:hover svg path {
    fill: #191c27; 
}
#backButton:hover {
    background-color: #ffffff; 
}
#backButton:hover svg path {
    fill: #191c27; 
}
#logout-btn:hover {
    background-color: #ffffff; 
}
#logout-btn:hover svg path {
    fill: #191c27; 
}
.base_text_color{
    color:#66d9ef;
}
.base_text_color-2{
    color: whitesmoke;
}


.islikedbutton{
    background-color: #84dee0;
}
