<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <script src="{% static 'js/bootstrap-5.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min..js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body style="height: 100%; background-color: #14161f;">
    <div class="page_loader"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #BEE7F1;">
        <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <div class="spinner-border" style="width: 4rem; height: 4rem; color:#5794a5;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="container-fluid page_content" style="display: none;">
        <div class="row" style="background-color: #303745;">
            <div class="p-4 col-md-10 d-flex align-items-center">
                <H1 style="color: #66d9ef;">BlogNest</H1>
            </div>
            <div class="p-4 col-md-2 d-flex">
                <div class="dropdown mx-auto my-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #303745;border: none;color: #66d9ef;font-size: 1.8rem;">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item active" href="{% url 'User-Profile-View' userid=userid %}">Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'Logout-View' %}">Logout</a></li>
                    </ul>
                  </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $(".commentButton").click(function () {
            var listid = $(this).attr('data-listId');
            $(".commentDiv[data-listId='" + listid + "']").toggle()
            $(this).hide()
            $(this).siblings('.shareButton').hide()
            $(this).siblings('.likebutton').hide()
        })
        $(".shareButton").click(function () {
            var listid = $(this).attr('data-listId');
            $(".shareDiv[data-listId='" + listid + "']").toggle()
            $(this).hide()
            $(this).siblings('.commentButton').hide()
            $(this).siblings('.likebutton').hide()
        })
        $(".comment-cancel-btn").click(function () {
            var listid = $(this).attr('data-listId');
            $(".commentDiv[data-listId='" + listid + "']").hide()
            $(".commentButton[data-listId='" + listid + "']").show()
            $(".shareButton[data-listId='" + listid + "']").show()
            $(".likebutton[data-listId='" + listid + "']").show()
        })
        $(".share-cancel-btn").click(function () {
            var listid = $(this).attr('data-listId');
            $(".shareDiv[data-listId='" + listid + "']").hide()
            $(".commentButton[data-listId='" + listid + "']").show()
            $(".shareButton[data-listId='" + listid + "']").show()
            $(".likebutton[data-listId='" + listid + "']").show()
        })
        $("#commentButton").click(function () {
            $(this).hide()
            $('#shareButton').hide()
            $('#commentDiv').toggle()
        })
        $("#shareButton").click(function () {
            $(this).hide()
            $('#commentButton').hide()
            $('#shareDiv').toggle()
        })
        $("#comment-cancel-btn").click(function () {
            $('#commentDiv').hide()
            $('#shareButton').toggle()
            $('#commentButton').toggle()
            $('#backButton').toggle()
        })
        $("#share-cancel-btn").click(function () {
            $('#shareDiv').hide()
            $('#shareButton').toggle()
            $('#commentButton').toggle()
            $('#backButton').toggle()
        })

        $(".likebutton").click(function () {
            var button = $(this)
            var blogid = $(this).attr('data-listId')
            var userid = $(this).attr('data-userid')
            var Likeurl='/Blog-nest/like/'+userid+'/'+blogid

            $.ajax({
                type:'GET',
                url:Likeurl,
                success: function () {
                console.log(button.hasClass('islikedbutton'),'------------')
                    if (button.hasClass('islikedbutton')) {
                        button.addClass('islikedbutton')
                    } else {
                        button.removeClass('islikedbutton')
                    }
                }
            });

        })
        
        $(".cmt_delete_button").click(function() {
        var cmtId= $(this).data('id');
        var cmt_content=$(this).data('content');
        $("#cmtContentPlaceholder").text("'"+cmt_content+"'");
        $("#cmtIdPlaceholder").val(cmtId);
        })
        $(".cmt_edit_button").click(function() {
        var cmtId= $(this).data('id');
        var cmt_content=$(this).data('content');
        $("#editContentPlaceholder").val(cmt_content);
        $("#editIdPlaceholder").val(cmtId);
        })
        $('#dropdown-menu-btn').click(function () {  
            $('.dropdown-menu').toggle()
        })
        setTimeout(function() {
        $("#alert-box").fadeOut("slow");
        }, 3500); 

        var viewMsg = document.getElementById('add-success-msg-view');
        viewMsg.style.display = 'block';
        setTimeout(function () {
            viewMsg.style.display = 'none';
        }, 4000);
    });
    
    $(window).on('load',function () {
        $.ajax({
           type: 'GET',
           url: '/Blog-nest/clear',});
        $('.page_loader').fadeOut(1000);
        $('.page_content').fadeIn(1000);
    })
</script>