<!DOCTYPE html>
<html>

<head>
    <title>Custom 404 Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <script src="{% static 'js/bootstrap-5.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min..js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body class="container" style="background-color: #303745;">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="m-5 p-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="1 1 24 24" width="24" height="24" style="width:5rem;height:5rem; fill: #66d9ef;"><path d="M9.836 3.244c.963-1.665 3.365-1.665 4.328 0l8.967 15.504c.963 1.667-.24 3.752-2.165 3.752H3.034c-1.926 0-3.128-2.085-2.165-3.752ZM12 8.5a.75.75 0 0 0-.75.75v4.5a.75.75 0 0 0 1.5 0v-4.5A.75.75 0 0 0 12 8.5Zm1 9a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"></path></svg>
                <h1 style="color:  #66d9ef;">
                    404 - Page Not Found</h1>
                <p style="color:  #66d9ef;">We're sorry, but the page you requested does not exist.</p>
            </div>
        </div>
    </div>
</body>

</html>