<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    <script src="{% static 'js/bootstrap-5.min.js' %}"></script>
</head>
<body style="background-color: #c7eef8">
    <div class="container-fluid" style="background-color: #c7eef8">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="margin-top: 35px;">
                    <div class="card-header" style="background-color: #93d4e4;">
                        <H2 style="color: #ecfbff;">Login</H2>
                    </div>
                    <div class="card-body" style="background-color: #BEE7F1;">
                        <form method="post">
                            <div class="form-group row m-3">
                                <label for="username" class="col-md-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="username"
                                        style="background-color: #d9f4fa" required>
                                </div>
                            </div>
                            <div class="form-group row m-3">
                                <label for="userpassword" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="text" id="userpassword" class="form-control" name="userpassword"
                                        style="background-color: #d9f4fa" required>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-5">
                                <button type="submit" class="btn btn-success">
                                 Submit   
                                </button>
                            </div>
                            <div class="form-group row m-3">
                                <label class="col-md-4 col-form-label text-md-right" style="font-size: smaller;">Not a
                                    member ?<a href="{% url 'Signup-View' %}"
                                        style="text-decoration: none; background-color: #55c2de;font-size: small;"
                                        class="btn mx-2"> Create Now</a></label>
                            </div>
                            {% if exception %}
                            <div class="alert alert-danger" role="alert">
                                {{exception}}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>