{% extends 'base.html' %}
{% block content %}
<div class="col-md-6">
        <div class="card" style="margin-top: 35px; border: none; background-color: #303745;">
            <div class="card-header" style="background-color: #303745;">
                <H2 style="color: #66d9ef;">Create Account</H2>
            </div>
            <div class="card-body" style="background-color: #21273a;">
                <form method="post">
                    {% csrf_token %} 
                    <div class="form-group row m-3">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Name</label>
                        <div class="col-md-6">
                            <input type="text" id="full_name" class="form-control" name="full_name" style="background-color: #2b3246; color: #ffffff;" required>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="full_name" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Gender</label>
                        <div class="col-md-6">
                            <select class="form-select" name="usergender" aria-label="Default select example" style="background-color: #2b3246;color: #ffffff;" required> 
                                <option selected disabled> </option>
                                <option style="color: #ffffff;" value="male">Male</option>
                                <option style="color: #ffffff;" value="female">Female</option>
                                <option style="color: #ffffff;" value="transgender">Transgender</option>
                                <option style="color: #ffffff;" value="not_say">Prefer Not to Say</option>
                                </select>
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Email</label>
                        <div class="col-md-6">
                            <input type="text" id="email_address" class="form-control" name="email_address" style="background-color: #2b3246; color: #ffffff;" required>
                            <span class="error text-info" id="mail_info_msg" style="display: none;">Email address is already registered</span>
                            <span class="error text-info" id="mail_err_msg" style="display: none;" >Invalid Emai Id</span>
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <label for="user_name" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Username</label>
                        <div class="col-md-6">
                            <input type="text" id="user_name" class="form-control p-1" name="user_name" style="background-color: #2b3246; color: #ffffff;" required>
                            <span class="error text-info" id="username_info_msg" style="display: none;">username already exists</span>
                            <span class="error text-info" id="username_error_msg" style="display: none;font-size: 15px;">Username must be at least 6 characters long.</span>
                        </div>
                    </div>

                    <div class="form-group row m-3">
                        <label for="phone_number" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Phone Number</label>
                        <div class="col-md-6">
                            <input type="text" id="phone_number" name="phone_number" style="background-color: #2b3246; color: #ffffff;" class="form-control">
                            <span class="error text-info" id="numer_err_msg" style="display: none;" >Invalid Mobile Number</span>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="userpassword" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="user_password" id="user_password" style="background-color: #2b3246; color: #ffffff;" required>
                        </div>
                    </div>
                    <div class="form-group row m-3">
                        <label for="userpassword" class="col-md-4 col-form-label text-md-right" style="color: #66d9ef;">Repeat Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" style="background-color: #2b3246; color: #ffffff;" required>
                            <span class="error text-info" id="paswrd_err_msg" style="display: none;" >Password didn't Match</span>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-5">
                        <button type="submit" class="btn border-none" style="background-color: #36c4e0;  color: #ffffff;" id ="register-btn" required>
                        Register
                        </button>
                    </div>
                    <div class="form-group row m-3">
                        <label class="col-md-6 col-form-label text-md-right" style="font-size: smaller;color: #66d9ef;">Already a Member ?<a href="{% url 'Login-View' %}"  style="text-decoration: none;font-size: small;  color: #ffffff;"  class="link-light mx-2"> Login Now</a></label>   
                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock %}