<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    </head>
    <body style="background-color: #14161f;">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold" style="color: #66d9ef;">{{StatusCode}}</h1>
                <p class="fs-3" style="color: #4b9cac;"> <span class="text-danger">Opps!</span> {{content}}</p>
                <a href="{% url 'Login-View' %}" class="btn btn-outline-info">Go Login</a>
            </div>
        </div>
    </body>
</html>