<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <script src="{% static 'js/jquery-3.7.0.min..js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .base_text_color{
            color:#66d9ef;
        }
        .base_text_color-2{
            color: whitesmoke;
        }
    </style>
</head>

<body style="background-color: #1e212e">
    <div class="page_loader"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #BEE7F1;">
        <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <div class="spinner-border" style="width: 4rem; height: 4rem; color:#5794a5;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <div class="container my-4 page_content" style="display: none;">
        <div class="row">
            <div class="col-12">
                <div class="my-5">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <h3 class="base_text_color">My Profile</h3>
                        </div>
                        <div class="col-4 d-flex flex-row-reverse">
                            <a class="btn" href="{% url 'BlogList_View' userid=userid %}"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="36" height="36"
                                    style="fill: #66d9ef;">
                                    <path
                                        d="M7.78 12.53a.75.75 0 0 1-1.06 0L2.47 8.28a.75.75 0 0 1 0-1.06l4.25-4.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L4.81 7h7.44a.75.75 0 0 1 0 1.5H4.81l2.97 2.97a.75.75 0 0 1 0 1.06Z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                    <hr style="color: white;">
                </div>
                <div class="row mb-5 gx-5 rounded" style="background-color: #252b38">
                        <div class="col-4">
                            <div class="d-flex flex-column m-2 p-2">
                               <strong class="base_text_color-2 text-center" style="font-size: 20px;">{{ userblogCount }}</strong>
                                <p class="base_text_color text-center">Blogs</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex flex-column m-2 p-2">
                                <strong class="base_text_color-2 text-center" style="font-size: 20px;">{{ userCmtsCount }}</strong>
                                <p class="base_text_color text-center">Comments</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex flex-column m-2 p-2">
                                <strong class="base_text_color-2 text-center" style="font-size: 20px;">3.2k</strong> 
                                <p class="base_text_color text-center">Views</p>
                            </div>
                        </div>
                </div>
                <form action="{% url 'User-Profile-View' userid=userid %}" method="post">
                    <div class="row mb-5 gx-5 rounded" style="background-color: #252b38">
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0 base_text_color">Contact detail</h4>
                                    <!-- First Name -->
                                    <div class="col-md-6">
                                        <label class="form-label base_text_color">First Name *</label>
                                        <input type="text" class="form-control" name="update-full-name" value="{{user.userfullname}}" disabled data-list="1" aria-label="First name">
                                    </div>
                                    <!-- Gender -->
                                    <div class="col-md-6">
                                        <label class="form-label base_text_color">Gender *</label>
                                        <select class="form-select form-control" data-list="1" name="usergender" disabled> 
                                            <option style="color: #252b38;" {% if user.usergender == 'male' %} selected {% endif %} value="male">Male</option>
                                            <option style="color: #252b38;" {% if user.usergender == 'female' %} selected {% endif %}  value="female">Female</option>
                                            <option style="color: #252b38;" {% if user.usergender == 'transgender' %} selected {% endif %}  value="transgender">Transgender</option>
                                            <option style="color: #252b38;" {% if user.usergender == 'not_say' %} selected {% endif %}  value="not_say">Prefer Not to Say</option>
                                          </select>
                                        <!-- <input type="text" class="form-control" name="update-user-gender" value="{{ user.usergender }}" aria-label="Phone number" data-list="1" disabled> -->
                                        <input type="text" name="column-name" value="contact-col" style="display: none;">
                                    </div>
                                    <!-- Mobile number -->
                                    <div class="col-md-6">
                                        <label class="form-label base_text_color">Mobile number *</label>
                                        <input type="text" class="form-control" name="update-mobile-no" value="{{user.userMobileNo}}"  disabled data-list="1" aria-label="Phone number">
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label base_text_color">Email *</label>
                                        <input type="email" class="form-control" name="update-email" id="inputEmail4" value="{{user.usermail}}" data-list="1" disabled>
                                    </div>
                                </div> 
                                <div class="gap-3 d-md-flex justify-content-md-start text-center my-4">
                                    <button type="button" class="btn btn-outline-info btn-lg update-btn" data-list="1" >Update</button>
                                    <button type="submit" class="btn btn-outline-success btn-lg save-btn" data-list="1" style="display: none;">Save</button>
                                    <button type="button" class="btn btn-outline-danger btn-lg cancel-btn" data-list="1" style="display: none;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
                <form action="{% url 'User-Profile-View' userid=userid %}" method="post">
                    <div class="row mb-5 gx-5 rounded" style="background-color: #252b38">
                        <!-- change Username -->
                        <div class="col-xxl-6">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="my-4 base_text_color">Change Username</h4>
                                    <!-- Username -->
                                    <div class="col-md-8">
                                        <label  class="form-label base_text_color">Username *</label>
                                        <input type="text" class="form-control" name="update-user-name" id="update-user-name" value="{{ user.username}}" data-list="2" disabled> 
                                        <input type="text" name="column-name" value="username-col" style="display: none;">
                                    </div>
                                </div>
                                <div class="gap-3 d-md-flex justify-content-md-start text-center my-4">
                                    <button type="button" class="btn btn-outline-info btn-lg update-btn" data-list="2" >Update</button>
                                    <button type="submit" class="btn btn-outline-success btn-lg save-btn" data-list="2" style="display: none;">Save</button>
                                    <button type="button" class="btn btn-outline-danger btn-lg cancel-btn" data-list="2" style="display: none;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form> 
                {% if errormessage %}
                <div class="row mb-5 gx-5 rounded justify-content-md-end" style="position: fixed; top: 0; right: 0;width: 50rem;">
                    <div class="col-md-12 m-5 p-3 rounded alert alert-danger"  id="alert-box" style="display: inline-block;width: auto;">
                        <svg class="m-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12"><path d="M1.757 10.243a6.001 6.001 0 1 1 8.488-8.486 6.001 6.001 0 0 1-8.488 8.486ZM6 4.763l-2-2L2.763 4l2 2-2 2L4 9.237l2-2 2 2L9.237 8l-2-2 2-2L8 2.763Z"></path></svg>
                        <strong>{{errormessage}}</strong>
                    </div>
                </div>
                {% endif %}
                {% if message %}
                <div class="row mb-5 gx-5 rounded justify-content-md-end" style="position: fixed; top: 0; right: 0;width: 50rem;">
                    <div class="col-md-12 m-5 p-3 rounded alert alert-success"  id="alert-box" style="display: inline-block;width: auto;">
                        <svg  class="m-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12"><path d="M6 0a6 6 0 1 1 0 12A6 6 0 0 1 6 0Zm-.705 8.737L9.63 4.403 8.392 3.166 5.295 6.263l-1.7-1.702L2.356 5.8l2.938 2.938Z"></path></svg>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
                {% endif %}
                <form action="{% url 'User-Profile-View' userid=userid %}" method="post">
                    <div class="row mb-5 gx-5 rounded" style="background-color: #252b38">
                        <!-- change password -->
                        <div class="col-xxl-6">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="my-4 base_text_color">Change Password</h4>
                                    <!-- Old password -->
                                    <div class="col-md-8">
                                        <label for="exampleInputPassword1" class="form-label base_text_color">Old password
                                            *</label>
                                        <input type="password" class="form-control" id="old-password"  data-list="3" name="old-password" disabled>
                                    </div>
                                    <!-- New password -->
                                    <div class="col-md-8">
                                        <label for="exampleInputPassword2" class="form-label base_text_color">New password
                                            *</label>
                                        <input type="password" class="form-control " id="new-password" data-list="3" name="new-password" disabled>
                                    </div>
                                    <!-- Confirm password -->
                                    <div class="col-md-8">
                                        <label  class="form-label base_text_color">Confirm
                                            Password *</label>
                                        <input type="password" class="form-control " id="cnf-new-password" data-list="3" disabled> 
                                        <input type="text" name="column-name" value="password-col" style="display: none;">
                                    </div>
                                </div>
                                <div class="gap-3 d-md-flex justify-content-md-start text-center my-4">
                                    <button type="button" class="btn btn-outline-info btn-lg update-btn" data-list="3" >Update</button>
                                    <button type="submit" class="btn btn-outline-success btn-lg save-btn" data-list="3" style="display: none;" disabled>Save</button>
                                    <button type="button" class="btn btn-outline-danger btn-lg cancel-btn" data-list="3" style="display: none;">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form> 
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(window).on("load", function () {
        $(".page_loader").fadeOut(1000);
        $(".page_content").fadeIn(1000);
    })
    $(document).ready(function () {
        $(".update-btn").click(function () {
            var val=$(this).attr('data-list')
            $(this).hide()
            $(this).siblings('.save-btn').toggle()
            $(this).siblings('.cancel-btn').toggle()
            $(".form-control[data-list='" +val+ "']").prop('disabled',false)
        })
        $(".cancel-btn").click(function () {
            var val=$(this).attr('data-list')
            $(this).hide()
            $(this).siblings('.save-btn').hide()
            $(this).siblings('.update-btn').toggle()
            if (val == '3') {
                $(".form-control[data-list='" +val+ "']").val('')
            }
            $(".form-control[data-list='" +val+ "']").prop('disabled',true)
        })
        setTimeout(function() {
        $("#alert-box").fadeOut("slow");
        }, 3500); 

        $("#cnf-new-password").on("input",function () {
            var val=$(this).attr('data-list')
            old_password=$("#old-password").val()
            new_password=$("#new-password").val()
            conf_password=$("#cnf-new-password").val()
            if (new_password == conf_password && new_password != "" && conf_password != "" && old_password != "" ){
                $(".save-btn[data-list='"+val+"']").prop("disabled", false);
            } else {
                $("..save-btn[data-list='"+val+"']").prop("disabled", true);
            }
        })
    })
</script>