<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    <script src="{% static 'js/bootstrap-5.min.js' %}"></script>
</head>
<body>
    <div>
        <div>
            <h2 style="text-align:center;color: gray;">Login Portal</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center m-3">
                    <div class="w-25 p-3 border border rounded">
                        <div class="form-group m-3">
                            <label for="usermail">Email-Id</label>
                            <input type="text" class="form-control" name="usermail" id="usermail" required>
                        </div>
                        <div class="form-group m-3">
                            <label for="usermail">Password</label>
                            <input type="text" class="form-control" name="userpassword" id="userpassword" required>
                        </div>
                        <div class="form-group m-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        {% if exception %}
                        <div class="alert alert-danger" role="alert">
                            {{exception}}
                        </div>
                        {% endif %}
                    </div>

                </div>
            </form>
        </div>
    </div>
</body>
</html>