<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.min.css'%}">
    <script src="{% static 'js/bootstrap-5.min.js' %}"></script>
</head>
<body>
    <div>
        <div>
            <h2 style="text-align:center;color: grey;" >Registeration Portal</h2>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center m-3">
                    <div class="w-50 row needs-validation m-2 p-3 border border rounded " >
                        <div class="row justify-content-center">
                            <div class="form-group m-2 col-md-3">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control p-2" name="username" id="username" required>
                            </div>
                            <div class="form-group m-2 col-md-3">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control p-2" name="usermail" id="usermail" required>
                            </div>
                            <div class="form-group m-2 col-md-4">
                                <label for="Mobile">Mobile</label>
                                <input type="text" class="form-control p-2" name="usermobile" id="usermobile" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group m-2 col-md-4">
                                <label for="Nationality">Nationality</label>
                                <input type="text" class="form-control p-2" name="usernationality" id="usernationality" required>
                            </div>
                            <div class="form-group m-2 col-md-6">
                                <label for="Country">Country</label>
                                <input type="text" class="form-control p-2" name="usercountry" id="usercountry" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group m-2 col-md-6">
                                <label for="Role">Role</label>
                                <select name="userrole" class="form-select p-2" required >
                                    <option selected disabled=true>Select Designation</option>
                                    <option value="Admin"> Admin </option>
                                    <option value="Student"> Student </option>
                                    <option value="Staff"> Staff </option>
                                    <option value="Editor"> Editor </option>
                                </select>
                            </div>
                            <div class="form-group m-2 col-md-4">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control p-2" name="userpassword" id="userpassword" required>
                            </div>
                        </div>
                        <div class="form-group m-2  col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>